.form {
  display: flex;
  flex-direction: column;
  height: fit-content;
}
.inputName {
  margin-top: 15px;
}
.field {
  padding: 5px;
  color: #2a2a2e;
  font-weight: 400;
  border: 1px solid #2a2a2e3c;
  border-radius: 5px;
}
.field:focus {
  outline: none;
  border: 2px solid #2a2a2e;
}
.btn {
  margin-top: 20px;
  padding: 8px 15px;
  border-radius: 10px;
  color: #c0bfbf;
  outline: none;
  font-weight: 600;
  background-color: #2a2a2e;
  box-shadow: rgba(211, 199, 199, 0.35) 0px -50px 36px -28px inset;
}
.btn:hover {
  cursor: pointer;
  background-color: #19191c;
  color: #f2eded;
}
