.homePage {
  display: flex;
  flex-direction: column;
  padding: 40px;
}
.header {
    margin: 0 auto;
}
.descr{
    margin-top: 15px;
    margin-bottom: 5px;
}
.list{
    margin-left: 20px;
    margin-bottom: 20px;
}
.finalText{
    margin-top: 15px;
}